/* content.js */

.ed-container > .main-container > .fade > .ng-star-inserted > div > #unePeriode > .tab-content > .tab-pane > .ng-star-inserted > #encart-notes > div {
	margin: 13px 0;
	display: flex;
}

.ed-container > .main-container > .fade  > .ng-star-inserted > div > #unePeriode > .tab-content > .tab-pane > .ng-star-inserted > #encart-notes > div > #averageToDisplay {
	height: 32px;
	font-size: 22px;
	margin: 0 20px;
}

.ed-container > .main-container > .fade > .ng-star-inserted > div > #unePeriode > .tab-content > .tab-pane > .ng-star-inserted > #encart-notes > div > a {
	height: 32px;
	width: 32px;
}

/* index.html */

#blfhbrkeverqinaeoitjbnqorjkngneqnvkeahvbvjhai7472634722763728363 > header {
	width: 360px;
	display: flex;
	justify-content: space-around;
}

#blfhbrkeverqinaeoitjbnqorjkngneqnvkeahvbvjhai7472634722763728363 > header > img {
	width: 70px;
	height: 50px;
}

#blfhbrkeverqinaeoitjbnqorjkngneqnvkeahvbvjhai7472634722763728363 > header > h1 {
	font-size: 20px;
	margin: auto 10px;
}

#blfhbrkeverqinaeoitjbnqorjkngneqnvkeahvbvjhai7472634722763728363 > main {
	display: flex;
	justify-content: center;
}

#blfhbrkeverqinaeoitjbnqorjkngneqnvkeahvbvjhai7472634722763728363 > main > button {
	cursor: pointer;
	border: solid #000 1px;
	border-radius: 5px;
}
